table {
  border: 1px solid black;
  background-color: #0066dd;
}

td {
  background-color: #44AAff;
  width: 20px;
  height: 20px;
}

.snake {
  background-color: greenyellow;
}

.apple {
  background-color: #CC0000;
}
